@import "../../../styles/styles.css";

.page-modal-wrapper {
  position: fixed;
  z-index: 9998;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-modal-overflow {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.315);
}

.page-modal {
  width: 400px;
  min-width: max-content;
  height: 84%;
  z-index: 1;
  overflow: hidden;
  background-color: var(--dark-blue);
  border-radius: 4px;
  box-sizing: border-box;
  border: 3px solid var(--green-ocean-color);
}

.page-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--green-ocean-color);
  height: 68px;
  display: flex;
  align-items: center;
}

.page-title {
  margin: 0 24px;
  font-size: 24px;
  font-weight: 700;
  color: var(--beige);
}

.page-header-content {
  margin-left: auto;
  margin-right: 24px;
  display: flex;
  align-items: center;
}

.page-close {
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-button:hover {
  transform: scale(0.95);
}

.page-content {
  width: 100%;
  padding: 16px 24px;
  box-sizing: border-box;
  height: calc(100% - 80px);
  overflow: auto;
}

.friend-profile-wrapper {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  border-top: 1px solid var(--main-dark-blue-color);
  cursor: pointer;
}

.friend-profile-wrapper:nth-child(1) {
  border-top: none;
}

.friend-profile-wrapper:hover {
  transform: scale(0.95);
}

.friend-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friend-status {
  font-size: 15px;
}

.online {
  color: #00b847;
}

.offline{
  color: gray
}

.friend-profile-image {
  width: 80px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}
.friend-profile-name {
  margin-left: 20px;
  color: var(--beige);
}

@media all and (max-width: 468px) {
  .page-modal {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    min-width: unset;
    border-radius: 0;
  }
}
